  $primaryColor: rgb(15, 153, 62);
  $secondaryColor: rgb(21, 106, 17);
  $thirdColor: rgb(34, 36, 41);
  $fourthColor: white;
  $hoverColor: $thirdColor;
  $highlightColor: $secondaryColor;
  $gray: rgba(150, 147, 146, 0.21);

  $break-xl: 1700px;

//font imports (alphabetical)
@font-face {
  font-family: MainFont;
  src: url(../fonts/Avenir-Medium.ttf)
}

@font-face {
  font-family: HeaderFont;
  src: url(../fonts/Lato-Regular.ttf)
}

@font-face {
  font-family: ParagraphFont;
  src: url(../fonts/Lato-Regular.ttf)
}

@font-face {
  font-family: AccentFont;
  src: url(../fonts/Lato-Light.ttf)
}

//also use quicksand which is available by default
//lato, noto-serif and slabo also available
  //entire site

  //nav
  #logoHide {
    padding-right: 75px;
    opacity: 0;

  }
  #mottoHide {
     opacity: 0;
  }

#navbar {
  color: $secondaryColor;
  .active {
    background-color: $primaryColor;
    color: white;
  }

}

    nav {
    z-index: 5;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $fourthColor;
    font-family: ParagraphFont;
    span {
      padding-right: 5px;
      color: $primaryColor;
    }
    li {
      .active {
        color: $highlightColor;
      }
    }
     a {
       color: $secondaryColor;
       &:hover {
         color: $hoverColor;
         background-color: $gray;
       }
       &:focus, &:target {
         color: $highlightColor;
         color: $hoverColor;
         background-color: $gray;
       }
       &:active {
         border-bottom: solid 1px $secondaryColor;
         background-color: $highlightColor;
       }
       &.dropdown-item:active {
       color: floralwhite;
       background-color: $highlightColor;
       text-decoration: none;
   }
     }

  }

  .alert {
    font-family: Quicksand;
    a {
      font-weight: bold;
      color: $primaryColor;
      &:hover {
        color: $hoverColor;
      }
      &:focus {
        color: $highlightColor;
      }
    }
  }

  .modal {
    font-family: HeaderFont;
    color: $primaryColor;
    .modal-body {
      font-family: MainFont;
      color: black;
    }
    .modal-footer {
      background-color: $secondaryColor;
    }

  }

  //generic body includes header and footer
  body {
    z-index: 3;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    justify-content: center;
    .contact {
      h2, h4 {
       padding-top: 35px;
       padding-bottom: 35px;
      }
    }

  //header specific
  header {
    background-repeat: no-repeat;
    background-size: cover;
    img {

      font-family: HeaderFont;
    }
    }



  .jumbotron {
      color: white;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      background-image: url('../img/astronomy-atmosphere-aurora-borealis-9027572.jpg');
      width: auto;
      background-color: $secondaryColor;
      z-index: -2;
      @media screen and (min-width: $break-xl) {
        height: 1300px;
        background-size: cover;

      }
      h1 {
        color: floralwhite;
        font-weight: bolder;
        padding-top: 90px;
        padding-right: 250px;
        text-align: right;
        @media screen and (min-width: $break-xl) {
          padding-top: 150px;

        }
      }
      h3 {
        color: floralwhite;
        padding-top: 40px;
        padding-right: 100px;
        text-align: right;

        }
         #callToAction {
          border-bottom: 2px solid white;
          font-family: ParagraphFont;
          margin-right: 1000px;
          padding-left: 175px;
          padding-top: 200px;
          text-align: left !important;
          @media screen and (min-width: $break-xl) {
            padding-top: 265px;

          }

      }

      #motto {
        font-family: ParagraphFont;
      }
  }

  //main body content
  main {
   margin-left: 7px;
   margin-right: 7px;
   margin-top: 75px;
   color: $secondaryColor;
   font-family: MainFont;
   text-align: center;
     h1 {
       font-family: MainFont;
       text-align: center;
       padding-bottom: 25px;
     }
     content {
       color: $primaryColor;
       font-family: MainFont;
       padding: 5px;
       border-bottom: 1px solid $secondaryColor;
       h2 {
         text-align: center;
       }
       h3 {
         text-align: center;
       }
       p {
         margin-top: 7px;
         text-align: center;
       }
       i {
         text-align: center;
         margin-bottom: 5px;
         margin-top: 7px;
       }
     }
  }


  //footer
  footer {
    z-index: 3;
    background-image: url("../img/blank-clean-color-889087.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $fourthColor;
    font-family: AccentFont;
    color: $secondaryColor;
    margin-top: 200px;
    padding-bottom: 0px;
    border-bottom: 0px;
    width: 100%;
    h5 {
      margin-top: 10px;
      font-family: ParagraphFont;
    }
    li {
      margin-top: 7px;
      font-family: AccentFont;
      a.active {
        color: $primaryColor;
        border-bottom: 2px solid white
      }
    }
     a {
       color: $secondaryColor;
         &:hover, &:focus {
         color: $primaryColor;
       }
     }
     p {
       margin: 15px;
     }
  }

} //end body
  //end entire site styles


  //index specific styles

  main {

  .about {
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: $primaryColor;
    color: white;
    h1 {
      color: $secondaryColor;
    }
  }
  .credit {
    background-image: url('../img/blank-clean-color-889087.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 25px;
    margin-bottom: 10px;

}

.links {
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: $primaryColor;
  color: white;
  h3 {
    margin-top: 25px;
    padding-bottom: 25px;
  }
  .card {
    color: $primaryColor;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 35px;
    border: $secondaryColor;
  }
  .card-img-top {
    width: auto;
    height: 500px;
  }
}

  .logo {
  background-color: #1f1a1a;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: none;
  justify-content: center;
  img {
    max-width: 100%;
    height: 250px;
  }
  }

  .savings {
    background-image: url('../img/blank-clean-color-889087.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: none;
    padding-top: 40px;
    padding-bottom: 25px;
    //margin-bottom: 10px;
    .outer {
      padding-top: 25px;
    }
  }
  .specialties {
  //  background-color: $gray;
  border-bottom: 3px outset $gray;
  border-top: 3px outset $gray;
  //background-color: floralwhite;
  font-family: MainFont;
  padding-bottom: 15px;
  margin: 0;
    h2 {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

   .universal {
     background-image: url('../img/architectural-design-architecture-buildings-1434580.jpg');
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100%;
     span {
       padding-top: 20px;
       display: inline-block;
       align-self: center;
     }
     align-self: center;
    .card {
      color: white;
      background-color: $secondaryColor;
      border-color: $secondaryColor;
      margin: 7px 15px 35px 3px;
      .card-title {
        text-align: center;
        vertical-align: baseline;

      }
    }
   }

   .welcome {
   }
}
  //end index specific styles

//development page stylesheet

content.hours {
  border: none;
  color: $primaryColor;
  h2 {
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
  }
  h4 {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 10px;
  }
  p {
    text-align: center;
    margin-top: 5px;
  }
}

content.service2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: $primaryColor;
  padding-bottom: 35px;
  h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 25px;
  }
  p {
    text-align: center;
    margin-top: 25px;
  }
  .title-icon {
    margin-top: 20px;
  }
  .social-icons {
    padding-right: 5px;
    padding-left: 5px;
  }
  .social-icons-wrapper {
    margin-top: 50px;
    a span {
      color: $secondaryColor;
        &:hover, &:focus {
        color: $primaryColor;
      }
  }
 }
}
content.service2 img {
  padding-top: 35px;
  width: 90%;
}


#specialIMG {
  height: 550px;
}

.specialIMG {
  height: 600px;
  width: auto;
}

content.tech {
    background-color: $primaryColor;
    color: white;
  //  padding-top: 10px;
    margin-bottom: 0;

.tech-icons {
  padding-right: 5px;
  padding-left: 5px;
}
.tech-icons-wrapper {
  padding-bottom: 5px;
}
.tech-list-title {
  padding-top: 25px;
  padding-bottom: 20px;
}
}
//end development stylesheet



  //contact specific styles

  .contact {
    color: $primaryColor;
    margin-top: 75px;
    text-align: center;
    margin-bottom: 50px;
  }

  #feedback {
      margin-bottom: 25px;

     #feedback-head {
      	text-align: center;
        color: $primaryColor;
      	font-size: 30px;
      	font-family: 'Quicksand', sans-serif;
      	margin-top: 20px;
      	margin-bottom: 20px;
      }

  /* Form itself */
  #mail-form {
  	width: 85%;
  	max-width: 500px;
  }

  /* Resize testarea */
  textarea {
  	resize: none;
  	overflow: scroll;
  }

  /* Google captcha */
  #captcha {
  	margin-bottom: 30px;
  }

  /* Fix sizing on captcha */
  .g-recaptcha div { margin-left: auto; margin-right: auto;}

  @media only screen and (max-width: 420px) {
  	.g-recaptcha {
  	transform:scale(0.81);
  	transform-origin: 0;
  	}
  }

  /* Submit button */
  .btn-primary:hover {
    color: $fourthColor;
  	background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .btn-primary:active {
    color: $fourthColor;
    background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .btn-primary:focus {
    background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .btn-primary:active:focus {
    color: $fourthColor;
    background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .btn-primary:disabled {
  	color: white;
  	background-color: $primaryColor;
  }

  .btn-primary:disabled:hover {
  	color: white;
  	background-color: $primaryColor;
  }

  .btn-primary {
  	color: $primaryColor;
    background-color: white;
    border-color: $primaryColor;
  }

  /* All feedback in a card */
  .card {
  	margin: auto;
  	margin-top: 30px;
  	min-width: 50%;
  	max-width: 75%;
  }

  .card-body {
  	padding-top: 30px;
  	padding-bottom: 30px;
  }

  .form-group {
  	margin-bottom: 10px;
  }



} //feedback

  //end contact specific styles




//sitemap specific stylesheet

#sitemap {
  border: none;
  margin-top: 35px;
  text-align: center;
}

//end sitemap styles
