@font-face {
  font-family: MainFont;
  src: url(../fonts/Avenir-Medium.ttf); }

@font-face {
  font-family: HeaderFont;
  src: url(../fonts/Raleway-Bold.ttf); }

@font-face {
  font-family: ParagraphFont;
  src: url(../fonts/Raleway-Black.ttf); }

@font-face {
  font-family: ralewayStandard;
  src: url(../fonts/Raleway-Regular.ttf); }

@font-face {
  font-family: AccentFont;
  src: url(../fonts/Raleway-Thin.ttf); }

#temp {
  padding-top: 220px;
}

#temp  h1 {
    color: floralwhite;
    text-align: center;
  }

body {
  background-image: url('../img/4k-wallpaper-architecture-background-1308624.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  body header {
    background-repeat: no-repeat;
    background-size: cover; }
    body header img {
      font-family: ralewayBold; }
    background-color: #1693F9; }
    @media screen and (min-width: 1700px) {
      body .jumbotron {
        height: 1300px;
        background-size: cover; } }
    body .jumbotron h1 {
      color: floralwhite;
      font-weight: bolder;
      padding-top: 90px;
      padding-right: 250px;
      text-align: right; }
      @media screen and (min-width: 1700px) {
        body .jumbotron h1 {
          padding-top: 150px; } }
    body .jumbotron h3 {
      color: floralwhite;
      padding-top: 40px;
      padding-right: 100px;
      text-align: right; }
    body .jumbotron #callToAction {
      border-bottom: 2px solid white;
      font-family: ralewayStandard;
      margin-right: 1000px;
      padding-left: 175px;
      padding-top: 200px;
      text-align: left !important; }
      @media screen and (min-width: 1700px) {
        body .jumbotron #callToAction {
          padding-top: 265px; } }
    body .jumbotron #downloadNow {
      margin: 0 0 0 0;
      padding-top: 10px; }
      body .jumbotron #downloadNow img {
        padding-top: 10px; }
    body .jumbotron #motto {
      font-family: ralewayStandard; }
  body main {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 75px;
    color: #156a11;
    font-family: avenirMain;
    text-align: center; }
    body main h1 {
      font-family: avenirMain;
      text-align: center;
      padding-bottom: 25px; }
    body main content {
      color: #0f993e;
      font-family: avenirMain;
      margin-bottom: 5px;
      padding: 5px;
      border-bottom: 1px solid #156a11; }
      body main content h2 {
        text-align: center; }
      body main content h3 {
        text-align: center; }
      body main content p {
        margin-top: 7px;
        text-align: center; }
      body main content i {
        text-align: center;
        margin-bottom: 5px;
        margin-top: 7px; }
  body footer {
    z-index: 3;
    background-image: url("../img/blank-clean-color-889087.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    font-family: ralewayThin;
    color: #156a11;
    margin-top: 200px;
    padding-bottom: 0px;
    border-bottom: 0px;
    width: 100%; }
    body footer h5 {
      margin-top: 10px;
      font-family: ralewayStandard; }
    body footer li {
      margin-top: 7px;
      font-family: ralewayThin; }
    body footer flex
a {
      color: #0f993e; }
      body footer flex
a:hover, body footer flex
a:focus {
        color: #156a11; }
    body footer address {
      margin-top: 7px; }
      body footer address a {
        margin-top: 10px;
        font-family: ralewayThin; }
